/*********************************************
Create a gradient background with css
**********************************************/

body {
  background: linear-gradient(to bottom, #fff3f2, #fcb2ac, #ff5547);
  background-size: 400% 400%;
}

#sonnet {
  font-family: fantasy;
  font-size: 18px;
  text-align: center;
  padding: 110px;
  vertical-align: middle;
}
